*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: fantasy;
    background: black;
}

header{
    margin: 0 0 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    background: white;
    padding: 10px;
}

#search{
    width: 300px;
    height: 30px;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
}

#infoSite{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dropbtn {
    background-color: white;
    color: black;
    padding: 10px;
    font-size: 25px;
    border: none;
    font-weight: bolder;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: #f1f1f1;
    z-index: 1;
    width: 180px;
    font-size: 20px;
    cursor: pointer;
}

.dropdown-content div{
    padding: 12px 16px;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn:hover{
    background: black;
    color: white;
}

.dropdown-content div:hover {
    background-color: #ddd;
}

#title{
    font-size: 40px;
}

.line{
    display: flex;
    flex-direction: row;
    font-size: 22px;
}

.imageHeader{
    background-image: url("../images/Black.jpg");
    background-size: contain;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    animation: rotateImage 6s linear infinite
}

@keyframes rotateImage {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 90px)

}

article section .blockTotal{
    margin: 10px;
    width: max-content;
    height: max-content;
    border: 2px solid red;
    border-radius: 5px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

#updateDate{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px;
    width: max-content;
    height: max-content;
    border: 2px solid red;
    border-radius: 5px;
    padding: 20px;
    font-size: 20px;
}

.conteiner{
    color: white;
}

article #totalDate,#dataPerOneMill{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.list{
    margin: 10px 0 0 0;
    max-height: 400px;
    overflow-y: auto;
}

#changeDate{
    border-radius: 5px;
    padding: 10px;
    font-size: 23px;
}

#themeIcon{
    font-size: 30px;
    font-weight: bold;
}


.buttonSort, .button{
    margin: 10px;
    border: 2px solid red;
    padding: 7px;
    font-size: 20px;
    background: white;
    color: black;
    font-weight: bolder;
    cursor: pointer;
}

.button:hover, .buttonSort:hover, #butCaO:hover{
    background: black;
    color: white;
}

.list::-webkit-scrollbar-track {
    background-color: #A9A9A9;
}

.list::-webkit-scrollbar {
    width: 12px;
    margin: 0 0 0 10px
} 

.list::-webkit-scrollbar-thumb {
    background: #808080;
}


#totalConfirmed, #totalDeath, #totalRecover, 
#confirmedPerOneMill,#deathPerOneMill,#recoverPerOneMill{
    color: red;
}


.numberCountry{
    color: red;
}

.lineConfirmed,.lineDeath,.lineRecover,
.lineConfirmedPerOneMill,.lineDeathPerOneMill,.lineRecoverPerOneMill{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    font-size: 18px;
}

#changeTime{
    display: flex;
    align-items: center;
    flex-direction: row;
}

#changeTime label, input{
    margin: 5px;
}

#changeTime input{
    font-size: 18px;
    font-family: fantasy;
    cursor: pointer;
    padding: 5px;
}

.graphic{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.graphic div{
    margin: 20px;
    font-size: 20px;
}

.changeOption{
    margin: 10px;
    font-size: 18px;
    font-family: fantasy;
    cursor: pointer;
    padding: 5px;
}

#graphCountry{
    display: none;
}

#mapSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mapTitle{
    font-size: 20px;
    margin: 17px;
}

#mapVirus {
    position: fixed;
    height: 450px;
    width: 900px;
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0;
    border: 2px solid red;
    position: relative;
}

#butCaO{
    position: absolute;
    left: 0;
    top: 0;
    font-size: 22px;
    cursor: pointer;
    margin: 10px;
    border: 2px solid red;
    background: white;
    color: black;
    font-weight: bolder;
    padding: 0 7px 0 7px;
    z-index: 1000;
}


/*Map marker*/
.icon-marker {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    color: white;
    width: 3.6em;
    height: 3.6em;
    font-size: .7em;
    font-weight: bold;
    background-color: orange;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(black, .9);
}

.icon-marker:hover .icon-marker-tooltip {
    display: block;
}

.icon-marker-tooltip {
    display: none;
    position: absolute;
    bottom: 100%;
    width: 16em;
    font-size: 1.4em;
    padding: 1em;
    background-color: rgb(38, 50, 56);
    border-radius: .4em;
    margin-bottom: 1em;
    box-shadow: 0 3px 5px rgba(black, .9);
}

.icon-marker-tooltip:before {
    display: block;
    position: absolute;
    bottom: -.6em;
    left: 50%;
    content: '';
    width: 1.4em;
    height: 1.4em;
    background-color: rgb(38, 50, 56);
    transform: rotate(45deg);
    margin-left: -.7em;
}

h2 {
    font-size: 1.5em;
    line-height: 1.2;
    margin-bottom: .1em;
    margin-top: 0;
}

h3 {
    font-size: 1.2em;
    margin: .1em 0;
    font-weight: normal;
    color: #CFD8DC;
}

ul,p {
    font-weight: normal;
}

ul {
    list-style: none;
    padding: 0;
    margin: .6em 0 0;
}


footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    flex-wrap: wrap;
    background: white;
    padding: 20px;
    height: 70px;
    margin-top: 20px;
}

/*Тема*/

.blockTheme{
    background: black;
    color: white;
}

.dateTheme{
    color: black;
}

.buttonTheme{
    background: black;
    color: white;
}

.buttonTheme:hover{
    background: white;
    color: black;
}

.contMenu{
    background: black;
}

.bodyTheme{
    background:white;
    color: black;
}

.imageTheme{
    background-image: url("../images/White.jpg");
}
